<nav class="navlib sheet-tabs tabs" data-group="primary">
	<a class="item magi active" data-tab="spells"><span></span></a>
	<a class="item invent" data-tab="items"><span></span></a>
    <a class="item background" data-tab="background"><span></span></a>
    <a class="item carac" data-tab="carac"><span></span></a>
    <a class="item compe" data-tab="features"><span></span></a>
    <a class="item confi" data-tab="lab"><span></span></a>
</nav>

<header>
	<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'liber.name'}}">
	<input class="race" type="text" title="{{listValues.traduct.race}}" value="{{listValues.traduct.race}}"  placeholder="{{localize 'liber.race'}}" readonly="">
	<input class="clan" type="text" title="{{listValues.traduct.clan}}" value="{{listValues.traduct.clan}}" placeholder="{{localize 'liber.clan'}}" readonly=""/>
</header>