<div class="avatar"> 
	<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
</div>

<div class="posture">
	<a class="post aucune" data-posture="aucune" title="Aucune"></a>
	<a class="post focus" data-posture="focus" title="Focus - les sorts coûtent un psy de moins et il ajoute 5 au jet de compétence"></a>
	<a class="post defensif" data-posture="defensif" title="Défensif - absorbe tous les points de dommages grâce à un jet de parade, 1 fois par tour"></a>
	<a class="post offensif" data-posture="offensif" title="Offensif - assure les dégâts max en cas de succès, mais il ne permet pas de se défendre ou de parer, de plus, la réussite critique passe à 10  au lieu de 5 "></a>
	<a class="post presage" data-posture="presage" title="Anticipatif - retarder son tour, renonçant ainsi à son action actuelle pour soit : accumuler de l’énergie (-2 PSY au sort) ; gagner un bonus à sa prochaine action (+10) ; une action réactive immédiate en réponse à une action spécifique d’un ennemi ou d’un allié ; pas de jet de défense sur soi"></a>
	<input class="postures" name="system.posture" type="text" value="{{actor.system.posture}}" style="display:none"/></span>
</div>

<div class="ligne">
  	{{#each actor.system.etat as |value etat|}}
  		<a class="etat{{@index}} chnget" data-lettre="{{@index}}" style="opacity: {{value}};"></a>
	{{/each}}
</div>
<div class="col-hp">
	<span class="deno" title="{{localize 'liber.life'}}">❤</span><input class="hp" name="system.hp.value" type="text" value="{{actor.system.hp.value}}" placeholder="10" style="{{actor.system.alert.hp}}"/><span class="hp-change"></span>/<input class="hpmax" name="system.hp.max" type="text" value="{{actor.system.hp.max}}" placeholder="10" style="{{actor.system.alert.hpmax}}"/>
</div>
<div class="col-psy">
	<span class="deno" title="{{localize 'liber.psy'}}">♗</span><input class="psy" name="system.psy.value" type="text" value="{{actor.system.psy.value}}" placeholder="10" style="{{actor.system.alert.psy}}"/><span class="psy-change"></span>/<input class="psymax" name="system.psy.max" type="text" value="{{actor.system.psy.max}}" placeholder="10" style="{{actor.system.alert.psymax}}"/>
</div>
<input class="niveau" name="system.level" type="text" value="{{actor.system.level}}" placeholder="1" title="{{localize 'liber.level'}}"/>