<nav class="navlib sheet-tabs tabs" data-group="primary">
	<a class="item background active" data-tab="background"><span></span></a>
	<a class="item invent" data-tab="items"><span></span></a>	    
    <a class="item magi" data-tab="spells"><span></span></a>
</nav>
<header>
	<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'liber.name'}}">
	<SELECT class="race"  name="system.race">
		{{selectOptions listValues.taille selected=actor.system.race labelAttr="label" localize=true blank="liber.none"}}
	</SELECT>
	<!--input class="race" type="text" title="{{actor.system.race}}" name="system.race" value="{{actor.system.race}}"  placeholder="{{localize 'liber.taille'}}"-->
	<input class="clan" type="text" title="{{actor.system.clan}}" name="system.clan"  value="{{actor.system.clan}}" placeholder="{{localize 'liber.type'}}"/>
</header>