<div class="chat roll">
  {{#if (ne data.actingCharImg "icons/svg/mystery-man.svg")}}
    <div class="intro-img">
      <img src="{{actingCharImg}}" title="{{actingCharName}}" />
      <img src="{{actingAbilName}}" title="" />
    </div>
  {{/if}}
  <div class="intro-chat">
    <span>{{introText}}</span>
   
    <div class="intro-right">
      <p class="introText">{{{text}}}</p>
      <p class="info">{{{info}}}</p>
      <p class="resultat">{{{succes}}}</p>
    </div>
  </div>
</div>