<div class="inventory-list" data-drop="true">
  <section class="sheet-body">

    <div id="background" class="tab" data-group="sheet" data-tab="background">
      <div class="zoneinfo">
        {{#if (eq actor.type "monstre")}}
        {{else}}
          <button class="story" data-action="story"><i class="fa fa-refresh" aria-hidden="true"></i></button> 
        {{/if}}     
        <h2>{{localize 'Liber.Character.Story'}}</h2>
        {{#if (eq actor.type "monstre")}}
          {{formField systemFields.geo name="system.geo" value=system.geo localize=true rootId=partId}}
        {{else}}
          <span class="met">{{localize (concat 'Liber.Metier.' actor.system.metier)}}</span> <span class="religion">{{localize (concat 'Liber.Magic.' actor.system.culte)}}</span>
        {{/if}}
        {{formInput
          systemFields.biography
          value=system.biography
          name="system.biography"
        }} 
        <h2 class="borders"><span>{{localize 'Liber.Character.Moral.Titre'}}</span>{{formField systemFields.moral value=system.moral localize=true rootId=partId type="select"}}</h2>
        <h2 class="borders">{{localize 'Liber.Character.Repos.Titre'}}</h2>
        {{formInput systemFields.time name="system.time" value=system.time localize=true rootId=partId}}
        <div class="jourliste">
        {{formField systemFields.duree name="system.duree" value=system.duree localize=true rootId=partId type="select"}}
        </div>
        <div class="typerepos">
        {{formField systemFields.repos name="system.repos" value=system.repos localize=true rootId=partId type="select"}}
        </div>
        
        <a class="bouton reposer" style=" margin-top: 0;height: 25px;padding: 5px;text-align: center;" data-action="sleep">{{localize 'Liber.Character.Repos.Reposer'}}</a>
    </div>     
  </div>


  <div id="carac" class="tab" data-group="sheet" data-tab="carac">
    <div class="zoneinfo">
      {{#each systemFields.competences.fields as |field caract|}}
      {{#if (or (eq caract "mentales") (eq caract "physiques") (eq caract "sociales") (eq caract "techniques") (eq caract "combats"))}}
              <p class="titrecompe">{{localize field.label}}</p>
      {{else}}
        <div class="perso {{caract}}" data-ability="{{caract}}" style="width: 46%;float: left;margin-right: 10px;">
          <span title="{{localize field.label}}" calc="{{caract}}">
            {{localize field.label}}
          </span>
            {{formInput field 
              value=(lookup ../system.competences caract) 
              name=(concat "system.competences." caract)
              rootId=../partId
            }}
        </div>
        {{/if}}
      {{/each}}
      <h2 class="reste">{{localize 'Liber.Character.Reste'}}</h2>
            {{formInput systemFields.reste name="system.reste" value=system.reste localize=true rootId=partId}}

    </div>
  </div>


  <div id="features" class="tab" data-group="sheet" data-tab="features">
    <div class="zoneinfo">
      <button class="story" data-action="carac"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      {{#each systemFields.caractere.fields as |field caract|}}
        <label>{{localize (concat "Liber.Character.Caractere." caract)}}</label>
        {{formInput field 
          value=(lookup ../system.caractere caract) 
          name=(concat "system.caractere." caract)
          rootId=../partId
        }}
      {{/each}}
    </div>
  </div>


  <div id="items" class="tab" data-group="sheet" data-tab="items">
    <div class="zoneinfo">
      <nav class="sheet-tabs tabs">
            <a class="item-filter tous" data-action="filtre" data-type="all"></a>
            <a class="item-filter armes" data-action="filtre" data-type="weapon"></a>
            <a class="item-filter armures" data-action="filtre" data-type="armor"></a>
            <a class="item-filter objets" data-action="filtre" data-type="item"></a>
      </nav> 

      <input class="secondary" type="text" name="system.secondary" value="{{actor.system.secondary}}" style="display: none;">
      <a class="item-random" data-action="random" data-type="weapon">{{localize 'Liber.Character.Inventory.Arme_hasard'}}</a>
      <a class="item-random" data-action="random" data-type="armor">{{localize 'Liber.Character.Inventory.Armor_hasard'}}</a>
      <a class="item-random" data-action="random" data-type="item">{{localize 'Liber.Character.Inventory.Item_hasard'}}</a>
      <ul class="items-list">
        {{#each inventory as |item id|}} 
            <li class="item fexrow type-{{item.type}} active draggable" data-item-id="{{item._id}}">
              <div class="item-image">
                <div class="item-qty">{{item.system.quantity}}</div>
                <img src="{{item.img}}" title="{{stripTags item.system.biography}}"/>
              </div>
              <div class="item-name" title="{{item.name}}" data-action="description" data-item-id="{{item._id}}">
                <span class="item_name">{{item.name}}</span>
                <span class="weigth">{{item.system.poids}}Kg</span>
              </div>
              <div class="zonecontrole">
                <div class="item-description item-info" title="{{stripTags item.system.biography}}" data-action="description" data-item-id="{{item._id}}">
                  <span>{{{item.system.biography}}}</span>
                </div>
                <div class="item-controls">
                  <span class="item-valeur">{{item.system.valeur}} Ecu</span>
                  {{#if (eq item.type "weapon")}}
                      <div class="item-porter">{{item.system.degat}}</div>
                      <div class="item-degat">{{item.system.porter}}</div>                                             
                  {{/if}}
                  {{#if (eq item.type "armor")}}
                      <div class="item-protec">{{item.system.protec}}</div>
                  {{/if}}
                  <span class="dice" data-action="rollDamage" data-item-id="{{item._id}}"><i class="fa-solid fa-dice-d20"></i></span>
                  <span class="maingauche" title="{{localize 'Liber.Character.Inventory.HandL'}}" data-action="equip" data-ou="gauche" data-item-id="{{item._id}}" data-protection="{{item.system.protec}}"></span>
                  <span class="maindroite" title="{{localize 'Liber.Character.Inventory.HandR'}}" data-action="equip" data-ou="droite" data-item-id="{{item._id}}" data-protection="{{item.system.protec}}"></span> 
                  <span class="armor" title="{{localize 'Liber.Character.Inventory.Armor'}}" data-action="equip"  data-protection="{{item.system.protec}}" data-ou="middle" data-item-id="{{item._id}}"></span>
                  <a class="item-control item-edit" title="Edit Item" data-action="edit" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-use" title="Use Item" data-action="use" data-item-id="{{item._id}}"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
                  <a class="item-control item-delete" title="Delete Item" data-action="delete" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
                </div>
              </div>
            </li>
        {{/each}}
      </ul>
      <div class="peser">
        {{formInput systemFields.enc name="system.enc" value=system.enc localize=true rootId=partId}}
         / 
        {{formInput systemFields.encmax name="system.encmax" value=system.encmax localize=true rootId=partId}} Kg
        <div class="encom">
          <div class="barenc"></div>
        </div>
      </div>
      {{#each inventory.gauche as |item id|}}
        <div class="unemain" style="background:url({{item.img}}) no-repeat center center;background-size:contain" title="{{stripTags item.system.biography}}">
          <a class="attaque" data-action="rollDamage" data-item-id="{{item._id}}">⚔</a>
          <a class="desequi" data-action="desequip" data-ou="gauche" data-item-id="{{item._id}}">🗑</a>
        </div>
      {{/each}}
      {{#each inventory.middle as |item id|}}
        <div class="arm" style="background:url({{item.img}}) no-repeat center center;background-size:contain" title="{{stripTags item.system.biography}}">
          <a class="desequi" data-action="desequip" data-protection="{{item.system.protec}}" data-ou="middle" data-item-id="{{item._id}}">🗑</a>
        </div>
      {{/each}}
      {{#each inventory.droite as |item id|}}
        <div class="deuxmains" style="background:url({{item.img}}) no-repeat center center;background-size:contain" title="{{stripTags item.system.biography}}">
          <a class="attaque" data-action="rollDamage" data-item-id="{{item._id}}">⚔</a>
          <a class="desequi" data-action="desequip" data-ou="droite" data-item-id="{{item._id}}">🗑</a>
        </div>
      {{/each}}
      {{formInput systemFields.ecu name="system.ecu" value=system.ecu localize=true rootId=partId}}
    </div>
  </div>


  <div id="spells" class="tab" data-group="sheet" data-tab="spells">
    <div class="zoneinfo">
      {{#unless (eq actor.type "monstre")}}
        <div class="magie">
           <select name="system.magieChoisie">
              {{#each listMagie as |m|}}
                  <option value="{{m.id}}" title="{{stripTags m.description}}" {{#if (eq ../system.magieChoisie m.id)}}selected{{/if}}>
                      {{m.name}} ({{m.quantity}})
                  </option>
              {{/each}}
          </select>
        </div>
        <a class="bouton addsort" data-action="addsort">{{localize 'Liber.Character.Inventory.Choix_magie'}}</a>
      {{/unless}}
      <ul class="items-list">
        {{#each magic as |item id|}}                
            <li class="item fexrow type-{{item.type}} active draggable" data-item-id="{{item._id}}">
              <div class="item-image">
                <div class="item-qty">{{item.system.quantity}}</div>
                <img src="{{item.img}}" title="{{stripTags item.system.biography}}"/>
              </div>
              <div class="item-name" title="{{item.name}}" data-action="description" data-item-id="{{item._id}}">
                <span class="item_name_magie">{{item.name}}</span>
              </div>
              <div class="zonecontrole">
                <div class="item-description item-info" title="{{stripTags item.system.biography}}" data-action="description" data-item-id="{{item._id}}">
                  <span>{{{item.system.biography}}}</span>
                </div>

                <div class="item-controls">
                  <span class="item-cible">{{item.system.cible}}</span>
                  <span class="item-duree">{{item.system.duree}}</span>
                  <span class="dice" data-action="roll" data-type="{{item.system.school}}" data-item-id="{{item._id}}"><i class="fa-solid fa-dice-d20"></i></span>
                  <a class="item-control item-edit" title="Edit Item" data-action="edit" data-item-id="{{item._id}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item" data-action="delete" data-item-id="{{item._id}}"><i class="fas fa-trash"></i></a>
                </div>
              </div>
            </li>
        {{/each}}
      </ul>
      {{#unless (eq actor.type "monstre")}}
        <div class="zonemagie">
          {{formInput systemFields.max name="system.max" value=system.max localize=true rootId=partId}}<span class="max">{{localize 'Liber.Character.Inventory.Max'}}</span>
          <span class="cout">{{localize 'Liber.Character.Inventory.Cout'}}</span>{{formInput systemFields.cout name="system.cout" value=system.cout localize=true rootId=partId}}
        </div>
      {{/unless}}
    </div>
  </div>


  <div id="lab" class="tab" data-group="sheet" data-tab="lab">
    <div class="zoneinfo">
      <h2>{{localize 'Liber.Character.Sex.Titre'}}</h2>
      {{formField systemFields.sex name="system.sex" value=system.sex localize=true rootId=partId type="select"}}
      <h2>{{localize 'Liber.Character.Race'}}</h2>
      {{formField systemFields.race name="system.race" value=system.race localize=true rootId=partId type="select"}}
      
      <h2>{{localize 'Liber.Character.Talent'}}</h2>

      <select name="system.talent">
        {{#each systemFields.talent.choices as |choice key|}}
            <option value="{{key}}" title="{{localize choice.tooltip}}" {{#if (eq key ../system.talent)}}selected{{/if}}>
                {{localize choice.label}}
            </option>
        {{/each}}
      </select>      

      <h2>{{localize 'Liber.Character.Faiblesse'}}</h2>
      <select name="system.faiblesse">
        {{#if (eq actor.system.race "celeste")}}
          <option value="pacifiste" title="{{localize 'Liber.Faiblesse.Description.pacifiste'}}" selected>
                  {{localize 'Liber.Faiblesse.pacifiste'}}
              </option>
        {{else}}
          {{#each systemFields.faiblesse.choices as |choice key|}}
              <option value="{{key}}" title="{{localize choice.tooltip}}" {{#if (eq key ../system.faiblesse)}}selected{{/if}}>
                  {{localize choice.label}}
              </option>
          {{/each}}
        {{/if}}
      </select>
      {{#if (eq actor.system.metier "inquisiteur")}}
        <h2 class="religionh2">{{localize 'Liber.Character.Religion'}}</h2>
      {{else}}      
        <h2 class="clanh2">{{localize 'Liber.Character.Clan'}}</h2>
      {{/if}} 
      <select name="system.clan">
        {{#if (eq actor.system.metier "inquisiteur")}}
          {{#each listCulte as |key|}}
            <option value="{{key}}" {{#if (eq key ../system.clan)}}selected{{/if}}>
              {{localize (concat 'Liber.Magic.' key)}}
            </option>
          {{/each}}
        {{else}}
          {{#each listClan as |key|}}
            <option value="{{key}}" {{#if (eq key ../system.clan)}}selected{{/if}}>
              {{localize (concat 'Liber.Magic.' key)}}
            </option>
          {{/each}}
        {{/if}}
      </select>

      {{!-- Titre religion sauf pour mercenaire ou inquisiteur --}}
      {{#if (or (eq actor.system.metier "mercenaire") (eq actor.system.metier "inquisiteur"))}}
        {{!-- rien --}}
      {{else}}
        <h2 class="religionh2">{{localize 'Liber.Character.Religion'}}</h2>
      {{/if}}

      <select name="system.culte">
        {{#if (eq actor.system.metier "mercenaire")}}
          {{#each listClan as |key|}}
            {{!-- Exclure corbeau, troubadour et croises si nécessaire --}}
            {{#unless (or (eq key "corbeau") (eq key "troubadour") (eq key "croises"))}}
              <option value="{{key}}" {{#if (eq key ../system.culte)}}selected{{/if}}>
                {{localize (concat 'Liber.Magic.' key)}}
              </option>
            {{/unless}}
          {{/each}}
        {{else}}
          {{#each listCulte as |key|}}
            <option value="{{key}}" {{#if (eq key ../system.culte)}}selected{{/if}}>
              {{localize (concat 'Liber.Magic.' key)}}
            </option>
          {{/each}}
        {{/if}}
      </select>


      </select>
      <h2>{{localize 'Liber.Character.Job'}}</h2>
      <select name="system.metier">
        {{#each listMetier as | key|}}
          <option value="{{key}}" title="{{localize choice.tooltip}}" {{#if (eq key ../system.metier)}}selected{{/if}}>
            {{localize (concat 'Liber.Metier.' key)}}
          </option>
        {{/each}}
      </select>
      <a data-action="update" class="valider button">{{localize 'Liber.Character.Valider'}}</a> 
      
        <div class="reponse">
          {{formField systemFields.ronfleur name="system.ronfleur" value=system.ronfleur localize=true rootId=partId type="select"}}
        </div>
         
      
      <h2>{{localize 'Liber.Character.Restant'}}</h2>
      {{formInput systemFields.restant name="system.restant" value=system.restant localize=true rootId=partId}}
      <span class="erreur">{{actor.system.probleme}}</span>
    </div>
  </div>


  </section>
  <div class="grid-2col">
    <h2>{{localize 'Liber.Character.Actions.Action'}}</h2>
    <img src="systems/liber-chronicles/assets/actor/arme_a_deux_mains.jpg" title="{{localize 'Liber.Character.Actions.Mains'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/discours.jpg" title="{{localize 'Liber.Character.Actions.Discours'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/sort.jpg" title="{{localize 'Liber.Character.Actions.Sort'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/tir.jpg" title="{{localize 'Liber.Character.Actions.Tir'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/courrir.jpg" title="{{localize 'Liber.Character.Actions.Courrir'}}" class="action"/>
  </div>
  <div class="grid-2col der">
    <h2>{{localize 'Liber.Character.Actions.Action2'}}</h2>
    <img src="systems/liber-chronicles/assets/actor/aide.jpg" title="{{localize 'Liber.Character.Actions.Aide'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/arme_une_main.jpg" title="{{localize 'Liber.Character.Actions.Main'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/boire_une_potion.jpg" title="{{localize 'Liber.Character.Actions.Boire'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/parler.jpg" title="{{localize 'Liber.Character.Actions.Parler'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/prendre.jpg" title="{{localize 'Liber.Character.Actions.Prendre'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/se_deplacer.jpg" title="{{localize 'Liber.Character.Actions.Deplacer'}}" class="action"/>
    <img src="systems/liber-chronicles/assets/actor/se_lever.jpg"  title="{{localize 'Liber.Character.Actions.Lever'}}" class="action"/>
  </div>
</div>

