<form class="{{cssClass}} Liber flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	{{!-- Sheet Tab Navigation --}}
	<nav class="navlib sheet-tabs tabs" data-group="primary">
		<a class="item magi active" data-tab="spells"><span></span></a>
		<a class="item invent" data-tab="items"><span></span></a>
	    <a class="item background" data-tab="background"><span></span></a>
	    <a class="item carac" data-tab="carac"><span></span></a>
	    <a class="item compe" data-tab="features"><span></span></a>
	    <a class="item confi" data-tab="lab"><span></span></a>
	</nav>

	<header>
		<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'liber.name'}}">
		<input class="race" type="text" title="{{listValues.traduct.race}}" value="{{listValues.traduct.race}}"  placeholder="{{localize 'liber.race'}}" readonly="">
		<input class="clan" type="text" title="{{listValues.traduct.clan}}" value="{{listValues.traduct.clan}}" placeholder="{{localize 'liber.clan'}}" readonly=""/>
	</header>

	<div class="zone">
		<h2>{{localize 'liber.bonu'}}</h2>
		<div class="head">	
			<input class="avantagerace" name="system.bonusrace" type="text" title="{{actor.system.bonusrace}}" value="{{actor.system.bonusrace}}" placeholder="{{localize 'liber.bonus'}}"/> - <input class="talent" type="text" value="{{listValues.traduct.talent}}" placeholder="{{localize 'liber.talent'}}" readonly="" /> - <input class="faiblesse" type="text" value="{{listValues.traduct.faiblesse}}" placeholder="{{localize 'liber.faiblesse'}}" readonly="" />
			<input class="insoin" name="system.insoin" type="text" value="{{actor.system.insoin}}" placeholder="0" title="PV insoignable"/>
			<input class="avant" name="system.avantage" type="text" value="{{actor.system.avantage}}" placeholder="0" title="Avantage"/>
			<input class="desan" name="system.desavantage" type="text" value="{{actor.system.desavantage}}" placeholder="0" title="Désavantage"/>
			<input class="fatig" name="system.fatigue" type="text" value="{{actor.system.fatigue}}" placeholder="0" title="Pts Fatigue"/>
		</div>
		<div class="col-gauche">
			<div class="zoneavatar">
				<div class="avatar"> 
					<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
				</div>

				<div class="posture">
					<a class="post aucune" data-posture="aucune" title="Aucune"></a>
					<a class="post focus" data-posture="focus" title="Focus - les sorts coûtent un psy de moins et il ajoute 5 au jet de compétence"></a>
					<a class="post defensif" data-posture="defensif" title="Défensif - absorbe tous les points de dommages grâce à un jet de parade, 1 fois par tour"></a>
					<a class="post offensif" data-posture="offensif" title="Offensif - assure les dégâts max en cas de succès, mais il ne permet pas de se défendre ou de parer, de plus, la réussite critique passe à 10  au lieu de 5 "></a>
					<a class="post presage" data-posture="presage" title="Anticipatif - retarder son tour, renonçant ainsi à son action actuelle pour soit : accumuler de l’énergie (-2 PSY au sort) ; gagner un bonus à sa prochaine action (+10) ; une action réactive immédiate en réponse à une action spécifique d’un ennemi ou d’un allié ; pas de jet de défense sur soi"></a>
					<input class="postures" name="system.posture" type="text" value="{{actor.system.posture}}" style="display:none"/></span>
				</div>

				<div class="ligne">
				  	{{#each actor.system.etat as |value etat|}}
				  		<a class="etat{{@index}} chnget" data-lettre="{{@index}}" style="opacity: {{value}};"></a>
					{{/each}}
				</div>
				<div class="col-hp">
					<span class="deno" title="{{localize 'liber.life'}}">❤</span><input class="hp" name="system.hp.value" type="text" value="{{actor.system.hp.value}}" placeholder="10" style="{{actor.system.alert.hp}}"/><span class="hp-change"></span>/<input class="hpmax" name="system.hp.max" type="text" value="{{actor.system.hp.max}}" placeholder="10" style="{{actor.system.alert.hpmax}}"/>
				</div>
				<div class="col-psy">
					<span class="deno" title="{{localize 'liber.psy'}}">♗</span><input class="psy" name="system.psy.value" type="text" value="{{actor.system.psy.value}}" placeholder="10" style="{{actor.system.alert.psy}}"/><span class="psy-change"></span>/<input class="psymax" name="system.psy.max" type="text" value="{{actor.system.psy.max}}" placeholder="10" style="{{actor.system.alert.psymax}}"/>
				</div>
				<input class="niveau" name="system.level" type="text" value="{{actor.system.level}}" placeholder="1" title="{{localize 'liber.level'}}"/>
				<div class="zonearmure">
					<div class="col-arm">
						<span class="deno" title="{{localize 'liber.armor'}}"></span><input class="armureperso" name="system.protection" type="text" value="{{actor.system.protection}}" placeholder="0"/>
					</div>
					
					<div class="col-protection">
						<span class="deno" title="{{localize 'liber.protection'}}"></span><input class="protection" name="system.protectionmagique" type="text" value="{{actor.system.protectionmagique}}" placeholder="0"/>
					</div>
				</div>
			</div>
			<h2>{{localize 'liber.stat'}}
			<SELECT class="enphaseliste"  name="system.emphase">
				{{selectOptions listValues.emphase selected=actor.system.emphase labelAttr="label" localize=true blank="liber.none"}}
	        </select></h2>

			<div class="colstat">
				{{#each actor.system.ability as |value ability|}}
					<label class="{{ability}} jetdedes ability" data-type="jetdedes" data-name="{{ability}}"  data-item-id="{{@index}}" data-dice="1d" data-attDice="{{value}}">{{localize ability}}</label>
					<input class="{{ability}}Value" name="system.ability.{{ability}}" type="text" value="{{value}}" placeholder="{{value}}"/>
				{{/each}}
			</div>

			<div class="colcomp">
				<div class="grid-3col">
					<h2 class="center">{{localize 'liber.mj'}}</h2>
					<input class="malussactor" name="system.malus" type="text" value="{{actor.system.malus}}" placeholder="0"/>
					<a class="resetmalus"  data-name="malus">🗑</a>
				</div>
				<div class="grid-3col">
					<h2 class="center">{{localize 'liber.compt'}}</h2>
					<input class="bonusactor" name="system.bonus" type="text" value="{{actor.system.bonus}}" placeholder="0" readonly="" />
					<a class="resetbonus" data-name="bonus">🗑</a>
				</div>
				<div class="clear"></div>
				<span class="competences"></span>
			</div>
		</div>
		<div class="col-droite">
			{{!-- Sheet Body --}}
			<section class="sheet-body">
				{{!-- Background Tab --}}
				<div id="background" class="tab background" data-group="primary" data-tab="background">
					<div class="zoneinfo">			
						<h2>{{localize 'liber.histoire'}}</h2>
						<input class="met" type="text" title="{{listValues.traduct.metier}}" value="{{listValues.traduct.metier}}"  placeholder="{{localize 'liber.metier'}}" readonly=""> - <input class="religion" type="text" title="{{listValues.traduct.religion}}" value="{{listValues.traduct.religion}}" placeholder="{{localize 'liber.religion'}} " readonly="" /> 
						<textarea class="histoire" name="system.histoire">{{actor.system.histoire}}</textarea>
						<h2>{{localize 'liber.moral'}} 
                        <SELECT class="moralliste"  name="system.moral">
							{{selectOptions listValues.moral selected=actor.system.moral labelAttr="label" localize=true blank="liber.none"}}
	                    </select></h2>
						<h2>{{localize 'liber.repos'}}</h2>
						<input class="heure" name="system.heure" type="text" value="{{actor.system.heure}}" placeholder="0"/>
						<SELECT class="jourliste"  name="system.jour">
							{{selectOptions listValues.temps selected=actor.system.jour labelAttr="label" localize=true blank="liber.none"}}
			            </select>
			            <SELECT class="typerepos"  name="system.repos">
			            	{{selectOptions listValues.dure selected=actor.system.repos labelAttr="label" localize=true blank="liber.none"}}
			            </select>
			            <a class="bouton reposer" style=" margin-top: 0;height: 25px;padding: 5px;text-align: center;">{{localize 'liber.reposer'}}</a>
					</div>
				</div>

				{{!-- Carac Tab --}}
				<div id="carac" class="tab carac" data-group="primary" data-tab="carac">
					<div class="zoneinfo">
						{{#each actor.system.caractere as |value caract|}}
							<div class="perso">
								<span title="{{localize caract}}">{{localize caract}}</span><input class="{{caract}}" name="system.caractere.{{caract}}" type="text" value="{{value}}" title="system.caractere.{{caract}}"/>
							</div>
						{{/each}}
					</div>
					
				</div>
				{{!-- Features Tab --}}
				<div id="features" class="tab features"  data-group="primary" data-tab="features">
					<div class="zoneinfo">
						{{#each actor.system.caracteristique as |value caract|}}
							<div class="compt">
							  <a class="attribut" data-val="{{value}}" title="{{caract}}">{{localize caract}}</a>
							  <input class="cpt{{@index}}" type="text" name="system.caracteristique.{{caract}}" value="{{value}}">
							</div>
						{{/each}}
					</div>
					<div class="zonepoint">
						{{localize 'liber.restant'}}*
						<input class="restant" type="text" value="{{actor.system.restant}}" readonly>
						<span>*{{localize 'liber.hors'}}</span>
					</div>
				</div>
				{{!-- Items Tab --}}
				<div id="items" class="tab items" data-group="primary" data-tab="items">
					<div class="zoneinfo">
						<nav class="sheet-tabs tabs">
					        <a class="item-filter tous acti" data-tab="tous"></a>
					        <a class="item-filter armes" data-tab="armes"></a>
					        <a class="item-filter armures" data-tab="armures"></a>
					        <a class="item-filter objets" data-tab="objets"></a>
					    </nav> 
					    <input class="secondary" type="text" name="system.secondary" value="{{actor.system.secondary}}" style="display: none;">
						<a class="item-random" data-type="arme">Arme au hazard</a>
						<a class="item-random" data-type="armure">Armure au hazard</a>
						<a class="item-random" data-type="objet">Objet au hazard</a>

							
					    	<ul class="items-list">
					    		{{#each actor.arme as |item id|}}		    		
						    		<li class="item fexrow armes active draggable" data-item-id="{{item._id}}">
					                    <div class="item-image"><div class="item-qty">{{item.system.quantite}}</div><img src="{{item.img}}" title="{{item.system.description}}"/></div> <div class="item-name" title="{{item.name}}">{{item.name}}</div>
					                    <div class="zonecontrole">
					                    	<div class="item-description item-info" data-item-id="{{item._id}}" data-name="{{item.name}}" data-desc="{{item.system.description}}" data-cout="{{item.system.valeur}}" data-type="{{item.type}}" data-img="{{item.img}}" title="{{item.system.description}}"><span>{{item.system.description}}</span></div>
						                    <div class="item-controls">
						                    	<span class="maingauche" title="main gauche" data-equip="gauche" data-name="{{item.name}}" data-degat="{{item.system.degats}}" data-img="{{item.img}}" data-des="{{item.system.description}}" data-type="{{item.type}}" name="{{item.name}}" ></span><span class="maindroite" title="main droite" data-equip="droite" data-name="{{item.name}}" data-degat="{{item.system.degats}}" data-img="{{item.img}}" data-des="{{item.system.description}}" data-type="{{item.type}}"  name="{{item.name}}" ></span>	
						                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
						                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						                    </div>
						                </div>
					                    <div class="item-type" title="{{item.type}}" style="display: none;">{{item.type}}</div>
					                    <div class="item-portee" style="display: none;"></div>
					                    <div class="item-dommage" style="display: none;"></div>
					                    <div class="item-poids"  style="display: none;">{{item.system.poids}}</div>
					                    <div class="item-valeur"  style="display: none;">{{item.system.valeur}}</div>				                     
					                </li>
					            {{/each}}
					            {{#each actor.armure as |item id|}}
				            		<li class="item fexrow armures active draggable" data-item-id="{{item._id}}">
					                    <div class="item-image"><div class="item-qty">{{item.system.quantite}}</div><img src="{{item.img}}" title="{{item.system.description}}"/></div> <div class="item-name" title="{{item.name}}">{{item.name}}</div>
					                    <div class="zonecontrole">
					                    	<div class="item-description item-info" data-item-id="{{item._id}}" data-name="{{item.name}}" data-desc="{{item.system.description}}" data-cout="{{item.system.valeur}}" data-type="{{item.type}}" data-img="{{item.img}}" title="{{item.system.description}}"><span>{{item.system.description}}</span></div>
						                    <div class="item-controls">
						                    	<span class="armor" title="Armure" name="{{item.name}}" data-equip="armure"  data-name="{{item.name}}"  data-img="{{item.img}}"  data-des="{{item.system.description}}"></span>
						                    	
						                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
						                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						                    </div>
						                </div>
					                    <div class="item-type" title="{{item.type}}" style="display: none;">{{item.type}}</div>
					                    <div class="item-portee" style="display: none;"></div>
					                    <div class="item-dommage" style="display: none;"></div>
					                    <div class="item-poids"  style="display: none;">{{item.system.poids}}</div>
					                    <div class="item-valeur"  style="display: none;">{{item.system.valeur}}</div>				                     
					                </li>
					            {{/each}}
					            {{#each actor.inventaire as |item id|}}
				            		<li class="item fexrow objets active draggable" data-item-id="{{item._id}}">
					                    <div class="item-image"><div class="item-qty">{{item.system.quantite}}</div><img src="{{item.img}}" title="{{item.system.description}}"/></div> <div class="item-name" title="{{item.name}}">{{item.name}}</div>
					                    <div class="zonecontrole">
					                    	<div class="item-description item-info" data-item-id="{{item._id}}" data-name="{{item.name}}" data-desc="{{item.system.description}}" data-cout="{{item.system.valeur}}" data-type="{{item.type}}" data-img="{{item.img}}" title="{{item.system.description}}"><span>{{item.system.description}}</span></div>
						                    <div class="item-controls">				                    	
						                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
						                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						                    </div>
						                </div>
					                    <div class="item-type" title="{{item.type}}" style="display: none;">{{item.type}}</div>
					                    <div class="item-portee" style="display: none;"></div>
					                    <div class="item-dommage" style="display: none;"></div>
					                    <div class="item-poids"  style="display: none;">{{item.system.poids}}</div>
					                    <div class="item-valeur"  style="display: none;">{{item.system.valeur}}</div>				                     
					                </li>
				            	{{/each}}
			        		</ul>
			        		<ul class="ecu">
							{{#each actor.argent as |item id|}}
				                <li class="item fexrow" data-item-id="{{item._id}}">
				                    <div class="item-poids" style="display:none">{{item.system.poids}}</div>
				                    
				                    <div class="item-controls" >
				                    	<div class="item-qty item-edit" title="{{item.system.quantite}} écu">{{item.system.quantite}}</div>
				                    	<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
				                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
				                    </div>
				                </li>
				            
				            {{/each}}
				            </ul>
							<div class="unemain">
								<a class="attaque" data-name="attaque" data-img="{{actor.system.armeuse.imgg}}" data-desc="{{actor.system.armeuse.desg}}" data-type="auto" title="Attaquer avec {{actor.system.armeuse.armeg}}">⚔</a>
								<div class="degatg jetdedegat" name="system.armeuse.degatg" data-name="{{actor.system.armeuse.armeg}}" data-dice="{{actor.system.armeuse.degatg}}" data-img="{{actor.system.armeuse.imgg}}" data-desc="{{actor.system.armeuse.desg}}" data-type="jetdedegat" title="{{actor.system.armeuse.desg}}" style="background: url({{actor.system.armeuse.imgg}});background-size: contain;">	<span>{{actor.system.armeuse.armeg}} <br> {{actor.system.armeuse.degatg}}</span>   
								</div>	
								<a class="desequi maingdes" data-equip="dgauche">🗑</a>				                     
							</div>
							<div class="arm">
								<div class="armurequi" title="{{actor.system.armeuse.desa}}" style="background: url({{actor.system.armeuse.imga}});background-size: contain;">	<span>{{actor.system.armeuse.armure}}</span>   
								</div>	
								<a class="desequi armordes" data-equip="darmure">🗑</a>				                     
							</div>
							<div class="deuxmains">
								<a class="attaque" data-name="attaques" data-img="{{actor.system.armeuse.imgd}}" data-desc="{{actor.system.armeuse.desd}}" data-type="auto" title="Attaquer avec {{actor.system.armeuse.armed}}">⚔</a>
								<div class="degatd jetdedegat" name="system.armeuse.degatd"data-name="{{actor.system.armeuse.armed}}" data-dice="{{actor.system.armeuse.degatd}}" data-img="{{actor.system.armeuse.imgd}}" data-desc="{{actor.system.armeuse.desd}}" title="{{actor.system.armeuse.desd}}" data-type="jetdedegat" style="background: url({{actor.system.armeuse.imgd}});background-size: contain;">	<span>{{actor.system.armeuse.armed}} <br> {{actor.system.armeuse.degatd}}</span>   
								</div>	
								<a class="desequi mainddes" data-equip="ddroite">🗑</a>				                     
							</div>
					</div>
					<div class="peser">
						<input class="encours" name="system.encombrement.value" type="text" value="{{actor.system.encombrement.value}}" placeholder="0" readonly=""> / 
						<input class="enc" name="system.encombrement.max" type="text" value="{{actor.system.encombrement.max}}" placeholder="0" readonly=""> {{localize 'liber.kg'}}
						<div class="encom">
							<div class="barenc"></div>
						</div>
					</div>
				</div>
				{{!-- Pouvoirs Tab --}}
				<div id="spells" class="tab spells" data-group="primary" data-tab="spells">
					<div class="zoneinfo">
						<select class="magieslistes" name="system.magie">
							{{selectOptions listValues.magie.liste selected=actor.system.magie labelAttr="name" localize=true blank="liber.none"}}
			            </select>
				        <a class="bouton addsort">{{localize 'liber.addsort'}}</a>
						<ul class="items-list">
							{{#each actor.magic as |item id|}}
									<li class="item fexrow armes active draggable" data-item-id="{{item._id}}">
					                    <div class="item-image"><div class="item-cout">{{item.system.cout}}</div><img src="{{item.img}}" title="{{item.system.description}}"/></div> <div class="item-name" title="{{item.name}}">{{item.name}}</div>
					                    <div class="zonecontrole">
					                    	<div class="item-description item-info" data-item-id="{{item._id}}" data-name="{{item.name}}" data-desc="{{item.system.description}} - {{item.system.cible}} {{item.system.duree}}" data-cout="{{item.system.cout}}" data-type="{{item.type}}" data-img="{{item.img}}" title="{{item.system.description}} - {{item.system.cible}} - {{item.system.duree}} - {{item.system.cout}}"><span >{{item.system.description}}</span></div>
						                    <div class="item-controls">
						                    	<a class="item-control item-lancer" title="Lancer Sort"><i class="fa-solid fa-dice-d20" data-name="{{item.name}}" data-desc="{{item.system.description}}" data-class="{{item.system.classe}}" data-cout="{{item.system.cout}}" data-img="{{item.img}}" data-dice="{{item.system.degats}}" data-item-id="{{_id}}"></i></a>
						                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
						                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						                    </div>
						                </div>
					                    <div class="item-type" title="{{item.type}}" style="display: none;">{{item.classe}}</div>
					                    <div class="item-portee" style="display: none;"></div>
					                    <div class="item-dommage" style="display: none;"></div>
					                    <div class="item-cible"  style="display: none;">{{item.system.cible}}</div>
					                    <div class="item-valeur"  style="display: none;">{{item.system.duree}}</div>				                     
					                </li>
				            {{/each}}
				        </ul>
				        <div class="bottommagie">
					        <img src="systems/liber/assets/magie/{{actor.system.listemag.img1}}-0.jpg" title="{{actor.system.listemag.img1}}"/>
		    				<img src="systems/liber/assets/magie/{{actor.system.listemag.img2}}-0.jpg" title="{{actor.system.listemag.img2}}"/>
		    				<p>*{{localize 'liber.plus'}}</p>
		    			</div>
				    </div>
				    <div class="zonemagie">
						<input class="coutmax" style="{{actor.system.alert.coutmax}}" type="text" value="{{actor.system.coutmax}}" title="{{localize 'liber.maxcost'}}" readonly>
						<input class="maxsort" style="{{actor.system.alert.maxsort}}" type="text" value="{{actor.system.maxsort}}" title="{{localize 'liber.nb'}}*" readonly>
	    				
						
					</div>
				</div>
				{{!-- Lab Tab --}}
				<div id="lab" class="tab stats" data-group="primary" data-tab="lab">
					<div class="zoneinfo">
				    	<h2>{{localize 'liber.sex'}}</h2>
						<SELECT class="sexliste" name="system.sexe">
							{{selectOptions listValues.sex selected=actor.system.sexe labelAttr="label" localize=true blank="liber.none"}}
			            </select>
				    	<h2>{{localize 'liber.race'}}</h2>
						<SELECT class="raceliste" name="system.race">
							{{selectOptions listValues.race selected=actor.system.race labelAttr="label" localize=true blank="liber.none"}}
		                </select>
				   
						<h2>{{localize 'liber.talent'}}</h2>
						<SELECT class="talentliste"  name="system.talent">
							{{selectOptions listValues.talent selected=actor.system.talent labelAttr="label" localize=true blank="liber.none"}}
                        </select>   
                        <h2>{{localize 'liber.faiblesse'}}</h2>
                        <SELECT class="faiblesseliste"  name="system.faiblesse">
							{{selectOptions listValues.faiblesse selected=actor.system.faiblesse labelAttr="label" localize=true blank="liber.none"}}
	                    </select>
			    		<h2 class="clanh2">{{localize 'liber.clan'}}</h2>
						<SELECT class="clanliste"  name="system.clan">
							{{selectOptions listValues.clan selected=actor.system.clan labelAttr="label" localize=true blank="liber.none"}}
		                </select>
						<h2 class="religionh2">Religion</h2>
							<SELECT class="religionliste" name="system.religion">
							{{selectOptions listValues.religion selected=actor.system.religion labelAttr="label" class="class" localize=true blank="liber.none"}}
		                </select>
						<h2>{{localize 'liber.metier'}}</h2>
						<SELECT name="system.metier" class="metier">
							{{selectOptions listValues.metier selected=actor.system.metier labelAttr="label" localize=true blank="liber.none"}}
		                </select>
		                <input type="button" value="{{localize 'liber.generer'}}" class="bouton ficheperso">		            
					</div>
					<div class="zonepoint">
						{{localize 'liber.restant'}}
						<input class="pointrestant" type="text" value="{{actor.system.reste}}" readonly/>
					</div>
				</div>


		
			</section>
			<div class="grid-2col" style="text-align: center;color:#fff">
				<h2>Action</h2>
				<img src="systems/liber/assets/icon/arme_a_deux_mains.jpg" title="Utiliser une armes à deux mains" class="action"/>
				<img src="systems/liber/assets/icon/discours.jpg" title="Faire un discours" class="action"/>
				<img src="systems/liber/assets/icon/sort.jpg" title="Lancer un sort" class="action"/>
				<img src="systems/liber/assets/icon/tir.jpg" title="Tirer à l'arc ou l'arbalète" class="action"/>
				<img src="systems/liber/assets/icon/courrir.jpg" title="Courrir" class="action"/>
			</div>
			<div class="grid-2col der" style="text-align: center;color:#fff">
				<h2>Demi-Action</h2>
				<img src="systems/liber/assets/icon/aide.jpg" title="aider quelqu'un à se lever" class="action"/>
				<img src="systems/liber/assets/icon/arme_une_main.jpg" title="utiliser une arme à une main" class="action"/>
				<img src="systems/liber/assets/icon/boire_une_potion.jpg" title="boire une potion" class="action"/>
				<img src="systems/liber/assets/icon/parler.jpg" title="parler" class="action"/>
				<img src="systems/liber/assets/icon/prendre.jpg" title="Prendre une objet" class="action"/>
				<img src="systems/liber/assets/icon/se_deplacer.jpg" title="Se deplacer" class="action"/>
				<img src="systems/liber/assets/icon/se_lever.jpg"  title="Se lever" class="action"/>
			</div>
		</div>
	</div>
</form>
	