<header class="sheet-header item" data-item-id="{{partId}}" data-drag="">
    <button class="story" data-action="story"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    <div class="item-img">
        <img src="{{item.img}}" data-edit="img" data-action='editImage' title="{{item.name}}" height="128" width="128"/>
    </div>
    <h1>{{formInput fields.name value=source.name localize=true rootId=partId}}
     {{formInput systemFields.quantity name="system.quantity" value=system.quantity localize=true rootId=partId}}</h1>       
    <h2>{{localize 'Liber.Items.Descri'}}</h2>
    {{formInput
          systemFields.biography
          value=system.biography
          name="system.biography"
        }} 

</header>